// _column.scss

////= Column Styling
//======================================================================//

.column {
  @extend .center-align;
  @extend .clearfix;
  display: block;
  float: left;
  width: 100%;
}
