// _header-banner.scss

////= Header Banner Styling
//===========================================================================//

.header,
.banner {
  @extend .clearfix;
  align-items: center;
  display: inherit;
  height: pxem(60px);
  padding: 0 pxem(30px);
  z-index: z('floor');

  &__kittyparty,
  &__headline {
    display: inherit;
  }

  &__kittyparty {
    margin: pxem(10px) 0 0 pxem(12px);
  }

  &__headline {
    align-items: inherit;
    flex: 1 1;
    justify-content: flex-start;
    position: relative;
  }
}
