// _nav-navbar.scss

////= Navigation Styling
//===========================================================================//

.nav,
.navbar {
  // position: relative;
  &__dropdown {
    @extend .navbar;
    margin: pxem(8px) 0 0 pxem(10px);

    &--menu {
      list-style-position: outside;
      list-style-type: circle;
      white-space: nowrap;
      z-index: z(floor);
    }

    &--list {
      background: $prussian-blue;
      display: none;
    }

    &--item {
      padding: pxem(5px) pxem(8px) pxem(5px) pxem(4px);
    }

    ul {
      @extend .clearfix;
      @extend .no-bullets;
      border-radius: pxem(10px);
      margin-top: pxem(5px);
    }
  }

  &__rooms {
    @extend .navbar;

    a {
      margin: pxem(5px) pxem(45px);
    }

    ul {
      @extend .clearfix;
      @extend .no-bullets;
      margin-top: pxem(5px);
    }

    li {
      @extend .chat-select;
      position: relative;
    }
  }

  a {
    color: $nav-link-color;
    font-family: $primary-font;
    text-decoration: none;
    text-transform: lowercase;
  }
}
