// _forms.scss

////= Form Components
//===========================================================================//

.form {
  @include el(search) {
    align-items: inherit;
    display: inherit;
    flex: 1 1;
    justify-content: flex-end;
  }

  @include el(message) {
    padding: pxem(30px);

    textarea {
      border: pxem(2px) solid $silver-sand;
      border-radius: pxem(5px);
      outline: none;
      resize: none;
      width: 100%;
    }
  }
}

.statement-box {
  padding: pxem(30px);

  textarea {
    border: pxem(2px) solid $silver-sand;
    border-radius: pxem(5px);
    outline: none;
    resize: none;
    width: 100%;
  }
}
