// _images.scss

////= Image Components
//======================================================================//

.image {
  &__avatar {
    border-radius: $curve-radius;
    // margin-left: pxem(10px);
    margin: pxem(20px) pxem(15px) 0 pxem(20px);
    max-height: pxem(80px);
    max-width: pxem(80px);
  }
}
