// _messages.scss

////= Message Components
//======================================================================//

.messages {
  flex: 1 1;
  margin: 0;
  overflow-y: auto;
  padding: pxem(15px);

  &__sent {
    display: flex;
    margin: 0 0 pxem(20px);
  }
}
