// _sad-browser.scss

////= "Browse Happy" Styling
//======================================================================//

.sad-browser {
  background: $grey;
  color: $black;
  margin: pxrem(3.2px) 0;
  padding: pxrem(3.2px) 0;
}
